/* http://megep.meb.gov.tr/mte_program_modul/moduller_pdf/Stil%20%C5%9Eablonu%20(CSS).pdf */
/* sayfa 31deyim */

.ornek{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: justify;
    border: 2px solid;
    display:flexbox;
    margin: 100px;
    padding:20px 20px 20px 20px;
    background-color: burlywood;
}