/* http://megep.meb.gov.tr/mte_program_modul/moduller_pdf/Stil%20%C5%9Eablonu%20(CSS).pdf */
/* sayfa 31deyim */


.em-kullanim{
    background-image:url("Metin2.png");
    background-repeat: no-repeat;
    background-position: center;
    font-size: 10em;
    color: aqua;
}

.ex-kullanim{
    background-color: #9F20FF;
    font-size: 5ex;
    color: rgb(109, 101, 14);
}